/* Geral */

* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Cabeçalho */

.cabecalho {
  background-color: linear-gradient(
    180deg,
    #dadada 0%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  margin-left: 45px;
}

.logo i {
  margin-right: 2px;
}

.logo-texto {
  color: #455364;
  font-weight: bold;
}

.menu-cabecalho {
  font-weight: bold;
  margin-right: 20px;
}

.menu-cabecalho a {
  text-decoration: none;
}

.menu-secoes {
  display: inline-flex;
  transition: transform 100ms linear;
  margin-left: 15px;
  color: #455364;
}

.menu-secoes:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

/* Campo de Pesquisa */

.barra-pesquisa {
  padding: 7px;
  background-color: rgb(11, 5, 5);
}

.botao-pesquisa {
  margin-left: 37px;
  border: none;
  border-radius: 2px;
  padding: 5 12px;
}

.botao-pesquisa:hover {
  cursor: pointer;
}

.campo-pesquisa {
  margin-left: 8px;
  width: 200px;
  height: 16px;
  font-size: 12px;
}

/* Seção Principal */

#secao-principal {
  background-image: url(../img/cavalo.jpeg);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 800px;
}

.bloco-texto {
  width: 40%;
  padding: 40px;
  display: inline-block;
}

.bloco-texto.fechar {
  display: none;
}

.titulo-principal {
  color: white;
  margin-bottom: 20px;
}

.texto-principal {
  color: white;
  margin-bottom: 30px;
}

#botao-play,
#botao-watch-party {
  padding: 12px;
  border-radius: 10px;
  color: #455364;
  font-weight: bold;
  border: none;
  margin-left: 5px;
}

#botao-play:hover,
#botao-watch-party:hover {
  cursor: pointer;
  background-color: #455364;
  color: #dadada;
}

#botao-play i,
#botao-watch-party i {
  margin-right: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  align-content: center;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
